<div class="nav">
  <div id="logo">
    <img
      src="../assets/images/logo.png"
      alt="Islamic Center of Northland">
  </div>

  <label for="toggle" class="mainToggle">
    <div class="icon">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </label>
  <input type="checkbox" id="toggle">

  <div class="menu">
    <ul class="mainList">
      <li>
          <label for="toggle-1">Home</label>
          <input type="checkbox" id="toggle-1">
      </li>

      <li>
        <label for="toggle-2">About Us</label>
        <input type="checkbox" id="toggle-2">
        <ul class="subList">
          <li><a href="#">Board Of Directors</a></li>
          <li><a href="#">Sister's Wing</a></li>
          <li><a href="#">Kid's Corner</a></li>
          <li><a href="#">Community News</a></li>
        </ul>
      </li>

      <li>
        <label for="toggle-3">Announcements</label>
        <input type="checkbox" id="toggle-3">
        <ul class="subList">
          <li><a href="#">Whispers From The Board</a></li>
        </ul>
      </li>

      <li>
        <label for="toggle-4">New Masjid Project</label>
        <input type="checkbox" id="toggle-4">
        <ul class="subList">
          <li><a href="#">Construction Update</a></li>
        </ul>
      </li>

      <li>
        <label for="toggle-5">More</label>
        <input type="checkbox" id="toggle-5">
        <ul class="subList">
          <li><a href="#">Publication & Forms</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">ICN Membership</a></li>
          <li><a href="#">Pledge/Donation Information</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div style="clear:both;"></div>
</div>
